@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

.participation{
   margin:5px;
   padding:5px;
   
}
.heading{
  font-family:outfit;
  font-weight:800;
  font-size:2rem;
  text-align: center;
  color:#302e2e;
  
}

.container{
   display:flex;
   flex-direction:row;
   justify-content:center;
   padding: 8px; 
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
}

.box {
  background-color: #fff;
  padding: 10px 10px 30px; 
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow:hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  width:300px;
  height:200px;
  transform: rotate(-1deg); 
  transition: transform 0.3s ease-in-out;
  
}

.box:hover {
  transform: rotate(0deg) scale(1.05); /* Straightens and enlarges on hover */
  z-index: 10; /* Brings the hovered image to the front */
}

.styledImg{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
}